<button class="btn btn-primary" [routerLink]="['/addtask']">Dodaj nowe zadanie</button>
<br>
<br>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Projekt</th>
      <th>Klient</th>
      <th>Priorytet</th>
      <th>Status</th>
      <th>Cena</th>
      <th>Rozpoczęcie</th>
      <th>Postęp</th>
      <th>Zakończenie</th>
      <th>Edytuj</th>
      <th>Usuń</th>
    </tr>
  </thead>
  <tr *ngFor="let task of tasks">
    <td>{{task.id}}</td>
    <td>{{task.title | limitTextTo:[8]}}</td>
    <td>{{task.client?.name}}</td>
    <td>{{task.priority?.description}}</td>
    <td>{{task.status?.description}}</td>
    <td>{{task.price}}</td>
    <td>{{task.createDate | date:'yyyy-MM-dd'}}</td>
    <td>
      <div class="progress">
        <div class="progress-bar" [ngStyle]="{'width.%': this.task.progress}">{{task.progress}} %</div>
      </div>
    </td>
    <td>{{task.closeDate | date:'yyyy-MM-dd'}}</td>
    <td><button class="btn btn-info" [routerLink]="['/task', task.id]"><i class="fa fa-pencil-square-o"></i></button></td>
    <td><button class="btn btn-danger" (click)="deleteTask(task)"><i class="fa fa-trash"></i></button></td>
  </tr>
</table>
