<div class="shadow-lg p-3 mb-5 bg-white rounded">
  Aplikacja do zarządzania zadaniami
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
  Zakładka projekty prezentuje listę wszystkich dodanych zadań, z jej poziomu można dodawać nowe zadania oraz edytować i usuwać już istniejące.
  Edytując zadanie można również dodawać do niego komentarze. Poza edycją zadań aplikacja pozwala również na zarządzanie klientami, do których zadania są przypisywane. Ponadto zawiera stałe słowniki z określeniem priorytetu i statusu każdego zadania.
</div>
